<div class="container">
    <img class="title-img" src="/assets/images/title-image-1.png" alt="" />
    <div class="container appeal-flow mt-5">
        <img class="appeal-flow-head-icon" src="/assets/images/appeal-head.png" alt="" />
        <img class="appeal-flow-path" src="/assets/images/flow-path.png" alt="" />
        <div class="container pt-5">
            <div class="row mb-5 first-row">
                <div class="col-md-2 offset-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-1.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-2.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-3.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="row mb-5 second-row">
                <div class="col-md-2 2 offset-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-5.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-6.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-7.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-8.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="row third-row">
                <div class="col-md-2 2 offset-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-9.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-10.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="flow-item-box">
                        <img class="flow-item-img" src="/assets/images/step-11.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>