<div class="container apply-box">
    <div class=" apply-form-bg d-flex justify-content-between align-items-center flex-row">
        <img class="apply-left-img" src="/assets/images/apply-left.png" alt="">
        <img class="apply-left-envelope" src="/assets/images/envelope.png" alt="">
        <div class="apply-form">
            <div class="container d-flex flex-column align-items-center pt-5">
                <div class="row apply-title">立即预约，解锁上岸密码</div>
                <div class="row  apply-subtitle">快速预约享受显示免费咨询服务，每天名额有限！</div>
                <div class="row d-flex flex-column apply-inner-form">
                    <div class="form-item">
                        <span>姓名</span>
                        <input type="text" class="form-control" placeholder="请输入你的名字">
                    </div>
                    <div class="form-item">
                        <span>手机号码</span>
                        <input type="text" class="form-control" placeholder="请输入手机号码">
                    </div>
                </div>
                <div class="apply-submit">
                    <button class=" rsa-btn rsa-btn-submit ">立即预约</button>
                    <span class="apply-feedback">帮助反馈</span>
                </div>
            </div>
        </div>
    </div>
</div>