<div class="awards main">
    <div class="awards_lf">
        <div class="awards_tit after2">
            <h3>Awards</h3>
            <h5>获得荣誉</h5>
        </div>
        <div class="awards_con">
            七年来斩获多项荣誉，接受了央视CCTV.com及多家权威媒体的采访与报道
        </div>
    </div>
    <div class="awards_ri">
        <div class="ind8">
            <div class="swiper-container bb">
                <div class="swiper-wrapper">


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112620940.png" class="tu1" alt="荣获央视CCTV.com采访并报道的品牌"
                                 title="荣获央视CCTV.com采访并报道的品牌">
                            <img src="/fudao/uploadfile/2022/0614/20220614112620940.png" class="tu2" alt="荣获央视CCTV.com采访并报道的品牌"
                                 title="荣获央视CCTV.com采访并报道的品牌">
                        </div>
                        <p>荣获央视CCTV.com采访并报道的品牌</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112529344.png" class="tu1" alt="腾讯教育高峰论坛获奖品牌"
                                 title="腾讯教育高峰论坛获奖品牌">
                            <img src="/fudao/uploadfile/2022/0614/20220614112539229.jpg" class="tu2" alt="腾讯教育高峰论坛获奖品牌"
                                 title="腾讯教育高峰论坛获奖品牌">
                        </div>
                        <p>腾讯教育高峰论坛获奖品牌</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112513114.png" class="tu1" alt="英国CIEP认证企业会员"
                                 title="英国CIEP认证企业会员">
                            <img src="/fudao/uploadfile/2022/0614/20220614112513114.png" class="tu2" alt="英国CIEP认证企业会员"
                                 title="英国CIEP认证企业会员">
                        </div>
                        <p>英国CIEP认证企业会员</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112331330.png" class="tu1" alt="企业信用评价AAA级信用企业"
                                 title="企业信用评价AAA级信用企业">
                            <img src="/fudao/uploadfile/2022/0614/20220614112340427.jpg" class="tu2" alt="企业信用评价AAA级信用企业"
                                 title="企业信用评价AAA级信用企业">
                        </div>
                        <p>企业信用评价AAA级信用企业</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112413451.png" class="tu1" alt="中国网教育盛典获奖品牌"
                                 title="中国网教育盛典获奖品牌">
                            <img src="/fudao/uploadfile/2022/0614/20220614112427166.jpg" class="tu2" alt="中国网教育盛典获奖品牌"
                                 title="中国网教育盛典获奖品牌">
                        </div>
                        <p>中国网教育盛典获奖品牌</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112212172.png" class="tu1" alt="中企网理事单位"
                                 title="中企网理事单位">
                            <img src="/fudao/uploadfile/2022/0614/20220614112221867.jpg" class="tu2" alt="中企网理事单位"
                                 title="中企网理事单位">
                        </div>
                        <p>中企网理事单位</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112303657.png" class="tu1"
                                 alt="中国品牌博鳌峰会<br>2022年度行业标志品牌" title="中国品牌博鳌峰会<br>2022年度行业标志品牌">
                            <img src="/fudao/uploadfile/2022/0614/20220614112314937.jpg" class="tu2"
                                 alt="中国品牌博鳌峰会<br>2022年度行业标志品牌" title="中国品牌博鳌峰会<br>2022年度行业标志品牌">
                        </div>
                        <p>中国品牌博鳌峰会<br>2022年度行业标志品牌</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112448845.jpg" class="tu1" alt="中国品牌发展质量管理中心认证品牌"
                                 title="中国品牌发展质量管理中心认证品牌">
                            <img src="/fudao/uploadfile/2022/0614/20220614112457215.png" class="tu2" alt="中国品牌发展质量管理中心认证品牌"
                                 title="中国品牌发展质量管理中心认证品牌">
                        </div>
                        <p>中国品牌发展质量管理中心认证品牌</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0614/20220614112354496.png" class="tu1" alt="侨联教育企业代表"
                                 title="侨联教育企业代表">
                            <img src="/fudao/uploadfile/2022/0614/20220614112354496.png" class="tu2" alt="侨联教育企业代表"
                                 title="侨联教育企业代表">
                        </div>
                        <p>侨联教育企业代表</p>
                    </div>


                    <div class="swiper-slide">
                        <div class="ind8_img">
                            <img src="/fudao/uploadfile/2022/0713/20220713090856554.png" class="tu1" alt="商业企业品牌信用认证"
                                 title="商业企业品牌信用认证">
                            <img src="/fudao/uploadfile/2022/0712/20220712042555258.png" class="tu2" alt="商业企业品牌信用认证"
                                 title="商业企业品牌信用认证">
                        </div>
                        <p>商业企业品牌信用认证</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>