<div class="choice">
    <div class="choice_tit">
        <div class="main">
            <p>Our Advantages</p>
            <h2>
                为什么越来越多的留学生<br />
                选择海马课堂？
            </h2>
        </div>
    </div>
    <div class="main">
        <ul>


            <li>
                <h3>更强大的师资力量</h3>
                <div class="choice_con">
                    汇集QS前100的优秀硕博导师<br />
                    不断加强老师教学的水准 </div>
            </li>

            <li>
                <h3>更个性化的授课</h3>
                <div class="choice_con">
                    根据学生的英文和课业基础进行专业评估
                    为学生打造个性化课堂 </div>
            </li>

            <li>
                <h3>更贴心的TAPS 3V1服务</h3>
                <div class="choice_con">
                    学习规划师、学习管理师<br />
                    授课导师3V1全程督学，把握学习成果 </div>
            </li>

            <li>
                <h3>更严格的教学管理</h3>
                <div class="choice_con">
                    创立&ldquo;6S教学标准管理体系&rdquo;<br />
                    保障老师教学质量 </div>
            </li>

            <li>
                <h3>更强大的品牌背书</h3>
                <div class="choice_con">
                    八年来斩获多项荣誉<br />
                    接受央视等多家权威媒体的采访与报道 </div>
            </li>

            <li>
                <h3>更长远的学习规划</h3>
                <div class="choice_con">
                    全线规划留学生的学习<br />
                    真正做到从成功留学到留学成功的转变 </div>
            </li>

        </ul>
    </div>
</div>