<!-- <div class="experience main">
    <div class="title after1">
        <h3>学习体验</h3>
        <p>辅导过的学生都得到了提升</p>
    </div>
    <div class="experience_flex">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ex_lf">
                        <img src="/fudao/images/kao.png" alt="Genice" title="Genice">
                    </div>
                    <div class="ex_ri">
                        <h3><span>Genice</span><span>曼彻斯特大学</span><span>大二</span><span>专业：精算</span></h3>
                        <div class="ex_con">
                            随着专业课越来越深入，课后作业的难度也越来越大，拿着作业题根本不知道从哪下手，来了红领巾课堂补习之后，老师给我讲了作业题有关的知识点，又讲了题目的解答思路，我总算顺利完成了作业！
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ex_lf">
                        <img src="/fudao/images/17.jpg" alt="Rahib" title="Rahib">
                    </div>
                    <div class="ex_ri">
                        <h3><span>Rahib</span><span>兰卡斯特大学</span><span>大二</span><span>专业：金融学</span></h3>
                        <div class="ex_con">
                            很感谢红领巾课堂，刚来英国的时候有很多地方不习惯，老师讲课语速又很快，一时间根本跟不上老师的课程进度。红领巾不仅在学业上给予了帮助，指导老师也结合生活教会了一些实践经验，让我从班级十几名排到第三，真的很感谢！
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ex_lf">
                        <img src="/fudao/images/18.jpeg" alt="Quannisha" title="Quannisha">
                    </div>
                    <div class="ex_ri">
                        <h3><span>Quannisha</span><span>布里斯托大学</span><span>大三</span><span>专业：政治学</span></h3>
                        <div class="ex_con">
                            红领巾老师是非常有效率的，本来我自己是没办法在这么多主修课和课程外作业的情况下，快速完成作业拿到高分的。但是有了红领巾老师的帮助，为我规划课程和作业，监督完成作业，我的课业变得高效顺畅，GPA也有了很大提升！
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div> -->