<div class="feedback-box">
	<div class="row d-flex align-items-center justify-content-start flex-nowrap">
		<div
			class="col col-3 d-flex align-items-center justify-content-start flex-column"
		>
			<img src="/assets/images/feedback-avatar-1.png" alt="" />
			<div class="feed-item-title">李雨佳</div>
			<div class="feed-item-school">伦敦政经</div>
			<div class="feed-item-line"></div>
			<div class="feed-item-intro">
				当时面临硕士毕业，学科分数给的有点低，我自己很郁闷本来几门课程都是名列前茅，可能因为和导师平时交流的少，所以导致单科成绩平平，找到红领巾申诉团队以后，学校调整了我各科成绩，还是很满意的！
			</div>
			<div class="feed-item-star">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
			</div>
		</div>
		<div
			class="col col-3 d-flex align-items-center justify-content-start flex-column"
		>
			<img src="/assets/images/feedback-avatar-1.png" alt="" />
			<div class="feed-item-title">任刚</div>
			<div class="feed-item-school">牛津</div>
			<div class="feed-item-line"></div>
			<div class="feed-item-intro">
				牛津大学本科
				当时申诉时候确实很着急，还好有红领巾申诉老师帮忙，解决我的燃眉之急。
			</div>
			<div class="feed-item-star">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
			</div>
		</div>
		<div
			class="col col-3 d-flex align-items-center justify-content-start flex-column"
		>
			<img src="/assets/images/feedback-avatar-1.png" alt="" />
			<div class="feed-item-title">黄帆</div>
			<div class="feed-item-school">杜克大学</div>
			<div class="feed-item-line"></div>
			<div class="feed-item-intro">
				红领巾团队申诉的专业性还是值得肯定的，像我的成绩也是给的不是很理想，因为我要读博士了，我认为单科成绩给低了，经过红领巾申诉老师的帮助，改变了现状。非常感谢他们！
			</div>
			<div class="feed-item-star">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
			</div>
		</div>
		<div
			class="col col-3 d-flex align-items-center justify-content-start flex-column"
		>
			<img src="/assets/images/feedback-avatar-2.png" alt="" />
			<div class="feed-item-title">Emily Brown</div>
			<div class="feed-item-school">曼大</div>
			<div class="feed-item-line"></div>
			<div class="feed-item-intro">
				非常感谢红领巾申诉团队，专业、敬业、可靠，二申失败后，整个人状态都不好了。我感觉到前所未有的前途迷茫，红领巾导师对学业我的帮助太大了，使我扭转了困境，介于信任我推荐周围同样遇到学业困难的同学
			</div>
			<div class="feed-item-star">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
			</div>
		</div>
		<div
			class="col col-3 d-flex align-items-center justify-content-start flex-column"
		>
			<img src="/assets/images/feedback-avatar-3.png" alt="" />
			<div class="feed-item-title">John Brown的家长</div>
			<div class="feed-item-school">纽约大学</div>
			<div class="feed-item-line"></div>
			<div class="feed-item-intro">
				红领巾申诉团队真的太专业了！而且还有我的校友朋友，亲切，认真，专业，不愧是国内第一的申诉团队。
			</div>
			<div class="feed-item-star">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
				><i class="bi bi-star-fill"></i>
			</div>
		</div>
	</div>
</div>
