<div class="container feedback-box">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col col-3 d-flex align-items-center justify-content-start flex-column">
            <img src="/assets/images/feedback-avatar-1.png" alt="" />
            <div class="feed-item-title">任刚</div>
            <div class="feed-item-school">牛津</div>
            <div class="feed-item-line"></div>
            <div class="feed-item-intro">牛津大学本科 当时申诉时候确实很着急，还好有红领巾申诉老师帮忙，解决我的燃眉之急。 </div>
            <div class="feed-item-star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="col col-3 d-flex align-items-center justify-content-start flex-column">
            <img src="/assets/images/feedback-avatar-2.png" alt="" />
            <div class="feed-item-title">Emily Brown</div>
            <div class="feed-item-school">曼大</div>
            <div class="feed-item-line"></div>
            <div class="feed-item-intro">
                非常感谢红领巾申诉团队，专业、敬业、可靠，二申失败后，整个人状态都不好了。我感觉到前所未有的前途迷茫，红领巾导师对学业我的帮助太大了，使我扭转了困境，介于信任我推荐周围同样遇到学业困难的同学
            </div>
            <div class="feed-item-star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="col col-3 d-flex align-items-center justify-content-start flex-column">
            <img src="/assets/images/feedback-avatar-3.png" alt="" />
            <div class="feed-item-title">John Brown的家长</div>
            <div class="feed-item-school">纽约大学</div>
            <div class="feed-item-line"></div>
            <div class="feed-item-intro">红领巾申诉团队真的太专业了！而且还有我的校友朋友，亲切，认真，专业，不愧是国内第一的申诉团队。 </div>
            <div class="feed-item-star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                   class="bi bi-star-fill"></i>
            </div>
        </div>

    </div>
</div>