 <!-- ======= Footer ======= -->
 <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-2 col-md-5 col-sm-6 footer-links">
            <h4><strong>红领巾毕业留学申诉</strong></h4>
            <p>学术申诉 </p>
            <p>非学术申诉 </p>
            <p>第三方申诉 </p>
          </div>

          <div class="col-lg-2 col-md-5 col-sm-6 footer-links">
            <h4><strong>服务项目</strong></h4>
            <p>课程辅导 </p>
            <p>成功案例 </p>
            <p>红领巾求职 </p>
            <p>职业培训 </p>
          </div>

          <div class="col-lg-2 col-md-5 col-sm-6 footer-links">
            <h4><strong>人力资源中心 </strong></h4>
            <p>关于我们 </p>
            <p>加入我们 </p>
            <p>简历投放 </p>
          </div>


          <div class="col-lg-2 col-md-5 col-sm-6 footer-links">
            <h4>红领巾资讯</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>

            </div>
          </div>
          <div class="col-lg-2"></div>

        </div>
      </div>
    </div>
    <div id="bottombar">
      <div class="copyright">
        <!-- &copy; Copyright <strong><span>RedScarfAppeals</span></strong> All Rights Reserved -->
      </div>
      <div class="credits">
        <img src="/assets/images/footer-copyright-bg.png" alt="">
      </div>
    </div>
  </footer>
 