<div class="guarantee main ">
    <div class="title after1">
        <h3>红领巾课堂学习保障</h3>
        <p>全力保护学生权益</p>
    </div>
    <ul>
        <li>
            <img src="/fudao/images/guarantee_03.jpg">
            <h3>师资保障</h3>
            <p>
                最快1小时即可上课<br />
                冷门专业能安心匹配
            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_05.jpg">
            <h3>时效保障</h3>
            <p>
                服务团队7*24H<br />
                在线答疑解惑
            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_07.jpg">
            <h3>信息保障</h3>
            <p>
                对学生的个人信息严格保密，不怕泄露
            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_09.jpg">
            <h3>消费保障</h3>
            <p>
                辅导费用公开透明，没有隐形消费
            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_18.jpg">
            <h3>成果保障</h3>
            <p>
                定制化重难点测验<br />
                有效检验学习成果
            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_20.jpg">
            <h3>退费保障</h3>
            <p>
                对辅导效果不满意<br />
                无理由随心退
            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_22.jpg">
            <h3>合同保障</h3>
            <p>
                辅导前签订正式合同，全程服务有保障

            </p>
        </li>
        <li>
            <img src="/fudao/images/guarantee_24.jpg">
            <h3>售后保障</h3>
            <p>
                学习中对导师不满意，可以随时更换老师
            </p>
        </li>
    </ul>
</div>