<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    />
    <title>考前辅导_留学生考试辅导_红领巾</title>
    <meta
        name="keywords"
        content="留学生考试培训,留学生考前冲刺班,留学生考前复习,留学生考试辅导价格,留学生考前辅导"
    />
    <meta
        name="description"
        content="红领巾专注英、美、澳、加拿大等国外留学生考试辅导，根据学校课程课件资料定制辅导，将考点难点考点，详尽梳理，帮助留学生在考试前，快速的掌握知识要点。众多海外名校硕博导师，师资雄厚。"
    />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
        name="twitter:image"
        content="http://www.redscarfappeal.com/images/logo.png"
    />
    <meta
        name="twitter:title"
        content="红领巾_留学生一站式学术课程论文辅导品牌"
    />
    <meta
        name="twitter:description"
        content="红领巾帮助学生提升GPA，一站式解决留学时遇到的各类学业难题。包括留学生课程辅导,Essay辅导,Report辅导,Dissertation辅导,论文辅导,作业辅导,留学挂科申诉,考前辅导,proofreading等学术问题。"
    />
    <meta name="twitter:image:alt" content="留学生辅导" />
    <meta property="og:url" content="http://www.redscarfappeal.com" />
    <meta property="og:type" content="website" />
    <meta
        property="og:title"
        content="红领巾_留学生一站式学术课程论文辅导品牌"
    />
    <meta
        property="og:description"
        content="红领巾帮助学生提升GPA，一站式解决留学时遇到的各类学业难题。包括留学生课程辅导,Essay辅导,Report辅导,Dissertation辅导,论文辅导,作业辅导,留学挂科申诉,考前辅导,proofreading等学术问题。"
    />
    <meta
        property="og:image"
        content=" http://www.redscarfappeal.com/images/logo.png "
    />
    <meta property="og:image:width" content="297" />
    <meta property="og:image:height" content="39" />
    <meta property="og:image:alt" content="留学生辅导" />

    <link rel="canonical" href="../index.html" />
    <link rel="shortcut icon" href="/assests/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/fudao/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/fudao/css/style.css" />
   

    <link rel="stylesheet" type="text/css" href="/fudao/css/swiper.min.css" />

    <link href="/assets/aos/aos.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/boxicons/css/boxicons.css" rel="stylesheet">
    <link href="/assets/glightbox/css/glightbox.css" rel="stylesheet">
    <link href="/assets/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="/assets/js/translate.js?v={$version}"></script>
    <link href="/assets/css/style.css?v={$version}" rel="stylesheet">
    <script src="/assets/js/lang.js?v={$version}"></script>


    <link rel="stylesheet" type="text/css" href="/fudao/css/media.css" />
    <script type="text/javascript" src="/fudao/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/fudao/js/yx.js"></script>
    <script type="text/javascript" src="/fudao/js/swiper.min.js"></script>
    {if($isPrd === '1')}
    <script type="text/javascript" src="https://v1-reok6.kuaishangkf.com/bs/ks.j?cI=442252&fI=164768" charset="utf-8"></script>
    {/if}
</head>