<section id="topbar">

</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="header-logo">
      <img src="/assets/images/head-icon.png" alt="">
      <!-- <span class="slogan-box">
        <span class="丨">|</span><span class="slogan">红领巾留学毕业申诉13年领跑行业标准</span>
      </span> -->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="getstarted scrollto translate" href="/contact-us" data-key="联系我们">联系我们</a>
        </li>
        <li>
          <a data-key="首页" class="nav-link scrollto active translate" href="/">首页</a>
        </li>
      </ul>
      <div class="navbar-right  align-items-start">
        <i class="bi bi-list mobile-nav-toggle"></i>
        <div class="language-icon">
            <i class="bi bi-translate"></i>
        </div>
    </div>
    </nav><!-- .navbar -->
   
  </div>
</header><!-- End Header -->