<section id="topbar">

</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="header-logo">
      <img src="/assets/images/head-icon.png" alt="">
      <!-- <span class="slogan-box">
        <span class="丨">|</span><span class="slogan">红领巾留学毕业申诉13年领跑行业标准</span>
      </span> -->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown">
          <a class="nav-link scrollto translate" href="/successful-cases" data-key="成功案例">成功案例</a>
          <!-- <ul>
            <li><a href="#" data-key="英国" class="translate">英国</a></li>
            <li>
              <a href="#" data-key="澳大利亚" class="translate">澳大利亚</a>
            </li>
            <li><a href="#" data-key="美国" class="translate">美国</a></li>
            <li>
              <a href="#" data-key="加拿大" class="translate">加拿大</a>
            </li>
            <li>
              <a href="#" data-key="中国香港" class="translate">中国香港</a>
            </li>
            <li>
              <a href="#" data-key="新西兰" class="translate">新西兰</a>
            </li>
            <li><a href="#" data-key="其他" class="translate">其他</a></li>
          </ul> -->
        </li>
        <li class="dropdown">
          <a class="nav-link translate" data-key="学术申诉" href="/academic-appeals">学术申诉 
          </a>
          <ul>

            <li>
              <a href="#"><span class="translate" data-key="作弊/剽窃">作弊/剽窃</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="共谋">共谋</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="代写/代考">代写/代考</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="伪造证据">伪造证据</span></i></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link scrollto translate" href="/non-academic-appeals" data-key="非学术申诉"><span class="translate"
                  data-key="非学术申诉">非学术申诉</span>
            </a>
          <ul>

            <li>
              <a href="#"><span class="translate" data-key="特殊情况">特殊情况</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="无上限补考">无上限补考</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="补考挂科">补考挂科</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="毕业论文挂科">毕业论文挂科</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="学位申诉">学位申诉</span></i></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link scrollto translate" data-key="第三方申诉" href="/third-appeals"><span class="translate"
                  data-key="第三方申诉">第三方申诉</span>
          </a>
          <ul>
            <li>
              <a href="#"><span class="translate" data-key="澳大利亚 Ombusman">澳大利亚 Ombusman</span><i
                   class="bi bi-chevron-right"></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="北爱尔兰 NIPSO">北爱尔兰 NIPSO</span><i
                   class="bi bi-chevron-right"></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="苏格兰 SPSO">苏格兰 SPSO</span><i
                   class="bi bi-chevron-right"></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="英格兰/威尔士 OIA">英格兰/威尔士 OIA</span>英格兰/威尔士
                OIA</i></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/course-guidance/Course"><span class="translate" data-key="课程辅导">课程辅导</span>
          </a>
          <ul>
            <li>
              <a href="/course-guidance/Course"><span class="translate" data-key="课程辅导">课程辅导</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/Preview"><span class="translate" data-key="课程预习">课程预习</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/CoursePaper"><span class="translate" data-key="论文辅导">论文辅导</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/Assignment"><span class="translate" data-key="作业辅导">作业辅导</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/Exam"><span class="translate" data-key="考试辅导">考试辅导</span></i></a>
            </li>
            <li>
              <a href="#"><span class="translate" data-key="Proofreading">Proofreading</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/Selection"><span class="translate" data-key="选课指导">选课指导</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/Turnitin"><span class="translate" data-key="Turnitin查重">Turnitin查重</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/ArtTutorial"><span class="translate" data-key="艺术类课程辅导">艺术类课程辅导</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/PhDRp"><span class="translate" data-key="博士RP辅导">博士RP辅导</span></i></a>
            </li>
            <li>
              <a href="/course-guidance/ModelEssay"><span class="translate" data-key="高分范文">高分范文</span></i></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link scrollto translate" href="#XXXXx" data-key="红领巾智库">红领巾智库</a>
        </li>
        <li>
          <a class="getstarted scrollto translate" href="/contact-us" data-key="联系导师">联系导师</a>
        </li>
      </ul>
      <div class="navbar-right row align-items-start">
        <i class="bi bi-list mobile-nav-toggle"></i>
        <div class="language-icon">
          <i class="bi bi-translate"></i>
        </div>
      </div>
    </nav><!-- .navbar -->
  
  </div>
</header><!-- End Header -->