<section id="topbar">

</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo">
      <img src="/assets/images/head-icon.png" alt="">
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="getstarted scrollto translate" href="#contact" data-key="联系导师">联系导师</a>
        </li>
        <li>
          <a data-key="首页" class="nav-link scrollto active translate" href="#hero">首页</a>
        </li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->