<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>学术申诉-广州粒知留学咨询有限公司</title>
    <meta name="keywords" content="广州粒知留学咨询有限公司" />
    <meta
        content="广州粒知留学咨询有限公司,涉及seo 待补充"
        name="description"
    />

    <!-- Favicons -->
    <link href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/img/favicon.ico" rel="icon" />
    <link href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />



    <!-- Vendor CSS Files -->
    <link href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
        href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/vendor/bootstrap/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <link
        href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/vendor/bootstrap-icons/bootstrap-icons.css"
        rel="stylesheet"
    />
    <link href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
        href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/vendor/glightbox/css/glightbox.min.css"
        rel="stylesheet"
    />
    <link href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/css/style.css" rel="stylesheet" />
    <script src="https://redscarf-website.oss-cn-beijing.aliyuncs.com/assets/js/lang.js"></script>
</head>