<div class="coach6 w1520">
    <div class="coach_tit after1">
        <h3>部分热门辅导专业</h3>
    </div>
    <div class="coach6_con">
        <div class="swiper-container gg">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="co6">
                        <h3>商科</h3>
                        <ul>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/i1.png" class="tu1" alt="金融" title="金融">
                                    <img src="/fudao/images/i11.png" class="tu2" alt="金融" title="金融">
                                </div>
                                <p>金融</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/i2.png" class="tu1" alt="会计" title="会计">
                                    <img src="/fudao/images/i22.png" class="tu2" alt="会计" title="会计">
                                </div>
                                <p>会计</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/i3.png" class="tu1" alt="经济" title="经济">
                                    <img src="/fudao/images/i33.png" class="tu2" alt="经济" title="经济">
                                </div>
                                <p>经济</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/i4.png" class="tu1" alt="商业" title="商业">
                                    <img src="/fudao/images/i44.png" class="tu2" alt="商业" title="商业">
                                </div>
                                <p>商业</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/i5.png" class="tu1" alt="管理" title="管理">
                                    <img src="/fudao/images/i55.png" class="tu2" alt="管理" title="管理">
                                </div>
                                <p>管理</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/i6.png" class="tu1" alt="营销" title="营销">
                                    <img src="/fudao/images/i66.png" class="tu2" alt="营销" title="营销">
                                </div>
                                <p>营销</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="co6">
                        <h3>人文社科类</h3>
                        <ul>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/o1.png" class="tu1" alt="翻译" title="翻译">
                                    <img src="/fudao/images/o11.png" class="tu2" alt="翻译" title="翻译">
                                </div>
                                <p>翻译</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/o2.png" class="tu1" alt="历史" title="历史">
                                    <img src="/fudao/images/o22.png" class="tu2" alt="历史" title="历史">
                                </div>
                                <p>历史</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/o3.png" class="tu1" alt="法律" title="法律">
                                    <img src="/fudao/images/o33.png" class="tu2" alt="法律" title="法律">
                                </div>
                                <p>法律</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/o4.png" class="tu1" alt="教育" title="教育">
                                    <img src="/fudao/images/o44.png" class="tu2" alt="教育" title="教育">
                                </div>
                                <p>教育</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/o5.png" class="tu1" alt="心理学" title="心理学">
                                    <img src="/fudao/images/o55.png" class="tu2" alt="心理学" title="心理学">
                                </div>
                                <p>心理学</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/o6.png" class="tu1" alt="传媒" title="传媒">
                                    <img src="/fudao/images/o66.png" class="tu2" alt="传媒" title="传媒">
                                </div>
                                <p>传媒</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="co6">
                        <h3>理工科类</h3>
                        <ul>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/p1.png" class="tu1" alt="电子工程" title="电子工程">
                                    <img src="/fudao/images/p11.png" class="tu2" alt="电子工程" title="电子工程">
                                </div>
                                <p>电子工程</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/p2.png" class="tu1" alt="土木" title="土木">
                                    <img src="/fudao/images/p22.png" class="tu2" alt="土木" title="土木">
                                </div>
                                <p>土木</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/p3.png" class="tu1" alt="通信" title="通信">
                                    <img src="/fudao/images/p33.png" class="tu2" alt="通信" title="通信">
                                </div>
                                <p>通信</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/p4.png" class="tu1" alt="统计学" title="统计学">
                                    <img src="/fudao/images/p44.png" class="tu2" alt="统计学" title="统计学">
                                </div>
                                <p>统计学</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/p5.png" class="tu1" alt="数学" title="数学">
                                    <img src="/fudao/images/p55.png" class="tu2" alt="数学" title="数学">
                                </div>
                                <p>数学</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/p6.png" class="tu1" alt="精算" title="精算">
                                    <img src="/fudao/images/p66.png" class="tu2" alt="精算" title="精算">
                                </div>
                                <p>精算</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="co6">
                        <h3>计算机类</h3>
                        <ul>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/l1.png" class="tu1" alt="计算机科学" title="计算机科学">
                                    <img src="/fudao/images/l11.png" class="tu2" alt="计算机科学" title="计算机科学">
                                </div>
                                <p>计算机科学</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/l2.png" class="tu1" alt="编程" title="编程">
                                    <img src="/fudao/images/l22.png" class="tu2" alt="编程" title="编程">
                                </div>
                                <p>编程</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/l3.png" class="tu1" alt="人工智能" title="人工智能">
                                    <img src="/fudao/images/l33.png" class="tu2" alt="人工智能" title="人工智能">
                                </div>
                                <p>人工智能</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/l4.png" class="tu1" alt="信息技术" title="信息技术">
                                    <img src="/fudao/images/l44.png" class="tu2" alt="信息技术" title="信息技术">
                                </div>
                                <p>信息技术</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/l5.png" class="tu1" alt="网络安全" title="网络安全">
                                    <img src="/fudao/images/l55.png" class="tu2" alt="网络安全" title="网络安全">
                                </div>
                                <p>网络安全</p>
                            </li>
                            <li>
                                <div class="coach6_img">
                                    <img src="/fudao/images/l6.png" class="tu1" alt="软件工程" title="软件工程">
                                    <img src="/fudao/images/l66.png" class="tu2" alt="软件工程" title="软件工程">
                                </div>
                                <p>软件工程</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <a href="https://v1-reok6.kuaishangkf.com/bs/im.htm?cas=166463___442252&fi=164768"
            rel="nofollow"
           target="_blank" class="more pcpc" title="更多辅导专业">更多辅导专业 &gt;&gt;</a>
        <!--             <div class="swiper-button-next ggy"></div>
            <div class="swiper-button-prev ggz"></div> -->
    </div>
</div>