<div class="container service-team  pt-5">
    <div class="row d-flex flex-column">
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar hover-img" data-p="500" src="/assets/images/avatar-1.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-1"></div>
                <div class="service-member-title" style="color:#FFA173;">
                    <span>英国伯明翰大学</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <span> 传媒专业的优秀毕业生</span>
                </div>
                <div class="service-member-intro">曾在英国的世界500强工作2年，2019年回国创业，接触到8000多学生和家庭，获得多位家长的认可，高责任心、高同理心，是这位导师一直扎根行业职业素养。</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar hover-img" data-p="500" src="/assets/images/avatar-2.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-2"></div>
                <div class="service-member-title" style="color:#A0A4FF;">
                    <span>武汉大学&nbsp;&nbsp;本科数学系高材生</span>&nbsp;&nbsp;|
                    <span>爱丁堡大学&nbsp;&nbsp;数据分析硕士研究生</span>
                </div>
                <div class="service-member-intro">曾在四大会计事务所工作6年，具有商业思维和策划经验，对数据敏感，帮助过高净值客户做过咨询服务，是一位可靠，真诚，专业的导师。</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar hover-img" data-p="500" src="/assets/images/avatar-3.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-3"></div>
                <div class="service-member-title vice-color" style="color:#4BD3E3;"> <span>美国密歇根大学&nbsp;&nbsp;应用统计学本科以及硕士</span>
                </div>
                <div class="service-member-intro">具有美国留学预科阶段到硕士留学经验，2018年回国创业，投身教育行业已经5年，擅长美国名校case，服务过3000位美国留学生，同时为1000多学生提供课程辅导服务。个人能力强，并且即能提供申诉，并且可以兼任班主任，是不可多得的学霸老师。</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar hover-img" data-p="500" src="/assets/images/avatar-4.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-4"></div>
                <div class="service-member-title  vice-color" style="color:#FF68A5;">
                    <span>南加州大学&nbsp;&nbsp;法律系&nbsp;&nbsp;本科及研究生毕业</span>
                </div>
                <div class="service-member-intro">从事法律顾问工作10年有余，利用业余时间为英美高校的学生签证服务，熟悉英美法律体系，一直为留学生群体服务。成功案件10W＋，常年旅居美国，胜任各种留学生疑难案件。</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar hover-img" data-p="500" src="/assets/images/avatar-5.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-5"></div>
                <div class="service-member-title" style="color:#F4B44F;">
                    <span>曼彻斯特大学 国际教育学研究生毕业 </span>&nbsp;&nbsp;|
                    <span>&nbsp;&nbsp;&nbsp; 拉夫堡大学  教育学本科毕业</span>
                </div>
                <div class="service-member-intro"> 曾任新东方教育培训机构担任课程老师，擅长留学规划，已帮助超过上万名留学生提供出国留学规划问题。擅长全球线申诉，一度成为英国留学生最喜欢的申诉导师之一。 </div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar hover-img" data-p="500" src="/assets/images/avatar-6.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-6"></div>
                <div class="service-member-title" style="color:#7FDB56;">
                    <span>悉尼大学&nbsp;&nbsp;工商管理硕士毕业 </span>
                </div>
                <div class="service-member-intro"> 曾就职于世界500强策划部门，拥有深厚金融、经济学和市场营销实战经验。擅长策划、辅导，已经为9000多名留学生提供申诉服务，是红领巾留学申诉从业经验最为丰富的一位导师，同时他的申诉稳、准、狠有效规避掉申诉过程中不必要的“坑”，是众多家长信赖的申诉老师。</div>
            </div>
        </div>


        <div class="col mb-4 d-flex  align-items-center justify-content-end ">
            <button class="text-center rsa-btn rsa-btn-link">了解更多</button>
        </div>


    </div>
</div>