<div id="preloader"></div>
<div class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></div>
<script src="/assets/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/aos/aos.js"></script>
<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/glightbox/js/glightbox.min.js"></script>
<script src="/assets/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/swiper/swiper-bundle.min.js"></script>
<script src="/assets/waypoints/noframework.waypoints.js"></script>
<script src="/assets/php-email-form/validate.js"></script>

<script src="/assets/js/main.js"></script>

<script>
	const ball = document.getElementById('ball')
	const circleBall = document.querySelector('.circle-ball')
	let xxxx = ball.getBoundingClientRect()

	const schools = [{
		"name": "麻省理工学院",
		"logo": "https://www.qschina.cn/sites/default/files/massachusetts-institute-of-technology-mit_410_small.jpg"
	}, {
		"name": "剑桥大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-cambridge_95_small.jpg"
	}, {
		"name": "牛津大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-oxford_478_small.jpg"
	}, {
		"name": "哈佛大学",
		"logo": "https://www.qschina.cn/sites/default/files/harvard-university_253_small.jpg"
	}, {
		"name": "斯坦福大学",
		"logo": "https://www.qschina.cn/sites/default/files/stanford-university_573_small.jpg"
	}, {
		"name": "帝国理工学院",
		"logo": "https://www.qschina.cn/sites/default/files/imperial-college-london_592560cf2aeae70239af4be8_small.jpg"
	}, {
		"name": "苏黎世联邦理工大学（瑞士联邦理工学院）",
		"logo": "https://www.qschina.cn/sites/default/files/eth-zurich-swiss-federal-institute-of-technology_201_small.jpg"
	}, {
		"name": "新加坡国立大学",
		"logo": "https://www.qschina.cn/sites/default/files/national-university-of-singapore-nus_443_small.jpg"
	}, {
		"name": "伦敦大学学院",
		"logo": "https://www.qschina.cn/sites/default/files/ucl_592560cf2aeae70239af4bf1_small.jpg"
	}, {
		"name": "加州大学伯克利分校",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-california-berkeley-ucb_84_small.jpg"
	}, {
		"name": "芝加哥大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-chicago_120_small.jpg"
	}, {
		"name": "宾夕法尼亚大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-pennsylvania_495_small.jpg"
	}, {
		"name": "康奈尔大学",
		"logo": "https://www.qschina.cn/sites/default/files/cornell-university_143_small.jpg"
	}, {
		"name": "墨尔本大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-melbourne_399_small.jpg"
	}, {
		"name": "加州理工大学（Caltech)",
		"logo": "https://www.qschina.cn/sites/default/files/california-institute-of-technology-caltech_94_small.jpg"
	}, {
		"name": "耶鲁大学",
		"logo": "https://www.qschina.cn/sites/default/files/yale-university_684_small.jpg"
	}, {
		"name": "北京大学",
		"logo": "https://www.qschina.cn/sites/default/files/peking-university_50_small.jpg"
	}, {
		"name": "普林斯顿大学",
		"logo": "https://www.qschina.cn/sites/default/files/princeton-university_508_small.jpg"
	}, {
		"name": "新南威尔士大学（UNSW）",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-new-south-wales-unsw-sydney_447_small.jpg"
	}, {
		"name": "悉尼大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-sydney_592560cf2aeae70239af4cd0_small.jpg"
	}, {
		"name": "多伦多大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-toronto_619_small.jpg"
	}, {
		"name": "爱丁堡大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-edinburgh_180_small.jpg"
	}, {
		"name": "哥伦比亚大学",
		"logo": "https://www.qschina.cn/sites/default/files/columbia-university_138_small.jpg"
	}, {
		"name": " 巴黎科学艺术人文大学",
		"logo": "https://www.qschina.cn/sites/default/files/universit-psl_592560e69988f300e2321dfe_small.jpg"
	}, {
		"name": "清华大学",
		"logo": "https://www.qschina.cn/sites/default/files/tsinghua-university_626_small.jpg"
	}, {
		"name": "南洋理工大学",
		"logo": "https://www.qschina.cn/sites/default/files/nanyang-technological-university-singapore-ntu_592560cf2aeae70239af4c32_small.jpg"
	}, {
		"name": "香港大学（HKU）",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-hong-kong_268_small.jpg"
	}, {
		"name": "约翰霍普金斯大学",
		"logo": "https://www.qschina.cn/sites/default/files/johns-hopkins-university_305_small.jpg"
	}, {
		"name": "东京大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-tokyo_615_small.jpg"
	}, {
		"name": "加州大学洛杉矶分校",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-california-los-angeles-ucla_87_small.jpg"
	}, {
		"name": "麦吉尔大学",
		"logo": "https://www.qschina.cn/sites/default/files/mcgill-university_592560cf2aeae70239af4c10_small.jpg"
	}, {
		"name": "曼彻斯特大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-manchester_389_small.jpg"
	}, {
		"name": "密歇根大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-michigan_403_small.jpg"
	}, {
		"name": "澳大利亚国立大学（ANU)",
		"logo": "https://www.qschina.cn/sites/default/files/the-australian-national-university_40_small.jpg"
	}, {
		"name": "不列颠哥伦比亚大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-british-columbia_70_small.jpg"
	}, {
		"name": "洛桑联邦理工学院（EPFL)",
		"logo": "https://www.qschina.cn/sites/default/files/epfl-ecole-polytechnique-federale-de-lausanne_592560cf2aeae70239af4b34_small.jpg"
	}, {
		"name": "慕尼黑工业大学",
		"logo": "https://www.qschina.cn/sites/default/files/technical-university-of-munich_599_small.jpg"
	}, {
		"name": "巴黎理工学院",
		"logo": "https://www.qschina.cn/sites/default/files/institut-polytechnique-de-paris_5f3a6d4210ca6076bc71cae4_small.jpg"
	}, {
		"name": "纽约大学（NYU）",
		"logo": "https://www.qschina.cn/sites/default/files/new-york-university-nyu_448_small.jpg"
	}, {
		"name": "伦敦国王学院",
		"logo": "https://www.qschina.cn/sites/default/files/kings-college-london_357_small.jpg"
	}, {
		"name": "首尔国立大学",
		"logo": "https://www.qschina.cn/sites/default/files/graduate-school-of-business-seoul-national-university_553_small.jpg"
	}, {
		"name": "蒙纳士大学",
		"logo": "https://www.qschina.cn/sites/default/files/monash-university_412_small.jpg"
	}, {
		"name": "昆士兰大学（UQ）",
		"logo": "https://www.qschina.cn/sites/default/files/210824044126am970441uq-logo-48x48.png"
	}, {
		"name": "浙江大学",
		"logo": "https://www.qschina.cn/sites/default/files/zhejiang-university_592560cf2aeae70239af4d37_small.jpg"
	}, {
		"name": "伦敦经济政治学院",
		"logo": "https://www.qschina.cn/sites/default/files/london-school-of-economics-and-political-science-lse_362_small.jpg"
	}, {
		"name": "京都大学",
		"logo": "https://www.qschina.cn/sites/default/files/kyoto-university_328_small.jpg"
	}, {
		"name": "代尔夫特理工大学",
		"logo": "https://www.qschina.cn/sites/default/files/delft-university-of-technology_155_small.jpg"
	}, {
		"name": "西北大学",
		"logo": "https://www.qschina.cn/sites/default/files/northwestern-university_592560cf2aeae70239af4c50_small.jpg"
	}, {
		"name": "香港中文大学",
		"logo": "https://www.qschina.cn/sites/default/files/cu_logo_4c_200x200_0.jpg"
	}, {
		"name": "复旦大学",
		"logo": "https://www.qschina.cn/sites/default/files/fudan-university_218_small.jpg"
	}, {
		"name": "上海交通大学",
		"logo": "https://www.qschina.cn/sites/default/files/shanghai-jiao-tong-university_556_small.jpg"
	}, {
		"name": "卡内基梅隆大学",
		"logo": "https://www.qschina.cn/sites/default/files/carnegie-mellon-university_101_small.jpg"
	}, {
		"name": "阿姆斯特丹大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-amsterdam_18_small.jpg"
	}, {
		"name": "路德维希 - 马克西米利安 - 慕尼黑大学",
		"logo": "https://www.qschina.cn/sites/default/files/ludwig-maximilians-universitt-mnchen_420_small.jpg"
	}, {
		"name": "布里斯托大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-bristol_69_small.jpg"
	}, {
		"name": "韩国科学技术研究所",
		"logo": "https://www.qschina.cn/sites/default/files/kaist-korea-advanced-institute-of-science-technology_324_small.jpg"
	}, {
		"name": "杜克大学",
		"logo": "https://www.qschina.cn/sites/default/files/duke-university_168_small.jpg"
	}, {
		"name": "德克萨斯大学奥斯汀分校",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-texas-at-austin_604_small.jpg"
	}, {
		"name": "索邦大学",
		"logo": "https://www.qschina.cn/sites/default/files/sorbonne-university_5a6afcfecb4de709397114fe_small.jpg"
	}, {
		"name": "香港科技大学（HKUST)",
		"logo": "https://www.qschina.cn/sites/default/files/the-hong-kong-university-of-science-and-technology_269_small.jpg"
	}, {
		"name": "鲁汶大学",
		"logo": "https://www.qschina.cn/sites/default/files/ku-leuven_592560cf2aeae70239af4aec_small.jpg"
	}, {
		"name": "加州大学圣地亚哥分校",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-california-san-diego-ucsd_89_small.jpg"
	}, {
		"name": "华盛顿大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-washington_592560cf2aeae70239af4d1e_small.jpg"
	}, {
		"name": "伊利诺伊大学香槟分校",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-illinois-at-urbana-champaign_2090_small.jpg"
	}, {
		"name": "香港理工大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-hong-kong-polytechnic-university_267_small.jpg"
	}, {
		"name": "马来亚大学（UM）",
		"logo": "https://www.qschina.cn/sites/default/files/universiti-malaya-um_383_small.jpg"
	}, {
		"name": "华威大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-warwick_664_small.jpg"
	}, {
		"name": "奥克兰大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-auckland_592560cf2aeae70239af4aa8_small.jpg"
	}, {
		"name": "台湾大学",
		"logo": "https://www.qschina.cn/sites/default/files/national-taiwan-university-ntu_592560cf2aeae70239af4c3c_small.jpg"
	}, {
		"name": "香港城市大学",
		"logo": "https://www.qschina.cn/sites/default/files/city-university-of-hong-kong_592560cf2aeae70239af4b05_small.jpg"
	}, {
		"name": "巴黎萨克雷大学",
		"logo": "https://www.qschina.cn/sites/default/files/universit-paris-saclay_592560cf2aeae70239af4c6e_small.jpg"
	}, {
		"name": "西澳大学（UWA）",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-western-australia_673_small.jpg"
	}, {
		"name": "布朗大学",
		"logo": "https://www.qschina.cn/sites/default/files/brown-university_72_small.jpg"
	}, {
		"name": "皇家理工学院",
		"logo": "https://www.qschina.cn/sites/default/files/kth-royal-institute-of-technology-_592560cf2aeae70239af4c9b_small.jpg"
	}, {
		"name": "利兹大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-leeds_338_small.jpg"
	}, {
		"name": "格拉斯哥大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-glasgow_592560cf2aeae70239af4b6c_small.jpg"
	}, {
		"name": "延世大学",
		"logo": "https://www.qschina.cn/sites/default/files/yonsei-university_688_small.jpg"
	}, {
		"name": "杜伦大学",
		"logo": "https://www.qschina.cn/sites/default/files/durham-university_170_small.jpg"
	}, {
		"name": "高丽大学",
		"logo": "https://www.qschina.cn/sites/default/files/korea-university_325_small.jpg"
	}, {
		"name": "大阪大学",
		"logo": "https://www.qschina.cn/sites/default/files/osaka-university_472_small.jpg"
	}, {
		"name": "都柏林三一学院",
		"logo": "https://www.qschina.cn/sites/default/files/trinity-college-dublin-the-university-of-dublin_167_small.jpg"
	}, {
		"name": "南安普敦大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-southampton_567_small.jpg"
	}, {
		"name": "宾夕法尼亚州立大学",
		"logo": "https://www.qschina.cn/sites/default/files/pennsylvania-state-university_494_small.jpg"
	}, {
		"name": "伯明翰大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-birmingham_59_small.jpg"
	}, {
		"name": "隆德大学",
		"logo": "https://www.qschina.cn/sites/default/files/lund-university_371_small.jpg"
	}, {
		"name": "圣保罗大学",
		"logo": "https://www.qschina.cn/sites/default/files/universidade-de-so-paulo_550_small.jpg"
	}, {
		"name": "罗蒙诺索夫莫斯科国立大学",
		"logo": "https://www.qschina.cn/sites/default/files/lomonosov-moscow-state-university-_592560cf2aeae70239af4c27_small.jpg"
	}, {
		"name": "鲁普莱希特-卡尔斯-海德堡大学",
		"logo": "https://www.qschina.cn/sites/default/files/ruprecht-karls-universitaet-heidelberg_259_small.jpg"
	}, {
		"name": "阿德莱德大学",
		"logo": "https://www.qschina.cn/sites/default/files/the-university-of-adelaide_10_small.jpg"
	}, {
		"name": "悉尼科技大学（UTS）",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-technology-sydney_592560cf2aeae70239af4ccf_small.jpg"
	}, {
		"name": "东京工业大学",
		"logo": "https://www.qschina.cn/sites/default/files/tokyo-institute-of-technology_592560cf2aeae70239af4ceb_small.jpg"
	}, {
		"name": "苏黎世大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-zurich_693_small.jpg"
	}, {
		"name": "波士顿大学",
		"logo": "https://www.qschina.cn/sites/default/files/boston-university_592560cf2aeae70239af4ac2_small.jpg"
	}, {
		"name": "墨西哥国立自治大学",
		"logo": "https://www.qschina.cn/sites/default/files/universidad-nacional-autnoma-de-mxico-unam_425_small.jpg"
	}, {
		"name": "布宜诺斯艾利斯大学",
		"logo": "https://www.qschina.cn/sites/default/files/universidad-de-buenos-aires-uba_78_small.jpg"
	}, {
		"name": "圣安德鲁斯大学",
		"logo": "https://www.qschina.cn/sites/default/files/university-of-st-andrews_570_small.jpg"
	}, {
		"name": "乔治亚理工学院(Georgia Tech)",
		"logo": "https://www.qschina.cn/sites/default/files/Web_GT_GoldNavy_0.jpg"
	}, {
		"name": "柏林自由大学",
		"logo": "https://www.qschina.cn/sites/default/files/freie-universitaet-berlin_215_small.jpg"
	}, {
		"name": "普渡大学",
		"logo": "https://www.qschina.cn/sites/default/files/purdue-university_510_small.jpg"
	}, {
		"name": "浦项科技大学",
		"logo": "https://www.qschina.cn/sites/default/files/pohang-university-of-science-and-technology-postech_592560cf2aeae70239af4c7b_small.jpg"
	}]

	
	const schoolContainer = document.querySelector('.school-container .row');
	let innerHTML = '';
	schools.forEach(el => {
		innerHTML +=
			`<div class="col col-3 d-flex justify-content-center flex-column align-items-center mb-5"> <img class="school-icon" src="${el.logo}" alt=""> <span class="school-name cn">${el.name}</span> </div>`
	})
	function renderSchools(entries, observer) {
		setTimeout(()=>{
			schoolContainer.innerHTML = innerHTML
		},2000)

	}
	renderSchools()
</script>