<div class="container">
    <div class="row d-flex justify-content-start align-items-end">
        <div class="col-md-6  d-flex flex-md-column mb-5 mb-lg-0 team-badge">
            <img src="/assets/images/badge.png" alt="">
            <h3 class="title">红领巾用数据证明实力</h3>
            <h3 class="title">作为留学生家长认可的留学申诉团队</h3>
        </div>
        <div class="col-md-4 offset-md-2 mb-5 mb-lg-0 team-members">
            <img src="/assets/images/five-people.png" alt="">
        </div>
    </div>
</div>
<div class="container team-intro">
    我们致力于帮助留学生解决留学各个阶段的申诉问题，并帮助学生重新回归到正常的学习和生活中，我们的胜诉成功率高达98%。<br /> 团队导师从业至少拥有9年以上申诉经验。
</div>
<div class="container service-count">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="service-count-item d-flex flex-md-column">
                <div class="service-count-item-box  d-flex align-items-end">
                    <div class="service-count-item-icon"></div>
                    <div data-purecounter-start="0" data-purecounter-end="23000"
                         data-purecounter-duration="1" class="service-count-item-number purecounter  ">
                    </div>
                    <span class="service-count-item-suffix ">+</span>
                    <span class="service-count-item-unit">件</span>
                </div>
                <div class="service-count-item-title">服务总量</div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="service-count-item d-flex flex-md-column">
                <div class="service-count-item-box  d-flex align-items-end">
                    <div class="service-count-item-icon"></div>
                    <div data-purecounter-start="0" data-purecounter-end="12000"
                         data-purecounter-duration="1" class="service-count-item-number purecounter  ">
                    </div>
                    <span class="service-count-item-suffix ">+</span>
                    <span class="service-count-item-unit">件</span>
                </div>
                <div class="service-count-item-title">申诉已处理案例</div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="service-count-item d-flex flex-md-column">
                <div class="service-count-item-box  d-flex align-items-end">
                    <div class="service-count-item-icon"></div>
                    <div data-purecounter-start="0" data-purecounter-end="10000"
                         data-purecounter-duration="1" class="service-count-item-number purecounter  ">
                    </div>
                    <span class="service-count-item-suffix ">+</span>
                    <span class="service-count-item-unit">件</span>
                </div>
                <div class="service-count-item-title">课程辅导</div>
            </div>
        </div>


    </div>
</div>