<!--<div class="index9">
    <div class="main">
        <div class="ind9_ti">
            <div class="ind9_z">
                <h3>2300+严选硕博学霸师资，对每一节课负责</h3>
                <p>
                    原创5H红领巾导师积分管理体系+6S教学标准化体系，提高导师教学水准和学生体验
                </p>
            </div>
            <a href="https://v1-reok6.kuaishangkf.com/bs/im.htm?cas=166463___442252&fi=164768" class="ind9_more" title="了解更多导师"
                >了解更多导师 >></a
            >
        </div>
        <div class="ind9 p3070">
            <div class="ind9_ul ind9_ul1">
                <ul>
                    <div class="ind9_one">
                        <h3>Niki</h3>
                        <div class="zhu">
                            <p>主讲：</p>
                            <div class="zhu_ms">宏观/微观经济学/金融/数学/统计学等</div>
                        </div>
                    </div>
                    <div class="ind9_two">导师简介</div>
                    <div class="ind9_con">
                        帝国理工学院金融硕士，5年教学经验，成绩优异，在校期间曾获得多个奖学金。曾就职于国外知名的金融机构，理论知识和实践知识丰富，可以帮助留学生了解国外金融体系。
                    </div>
                </ul>
                <ul>
                    <div class="ind9_one">
                        <h3>Sheng Du</h3>
                        <div class="zhu">
                            <p>主讲：</p>
                            <div class="zhu_ms">编程、数据结构、算法、电脑网络等</div>
                        </div>
                    </div>
                    <div class="ind9_two">导师简介</div>
                    <div class="ind9_con">
                        新南威尔士大学IT硕士，本科时期获得荣誉学士学位，硕士时期以Distinction成绩毕业。创建了一套独有的计算机语言的授课方式，能够帮助留学生快速理解计算机语言，擅长Java、Python、Matlab等
                    </div>
                </ul>
                <ul>
                    <div class="ind9_one">
                        <h3>Zhen Song</h3>
                        <div class="zhu">
                            <p>主讲：</p>
                            <div class="zhu_ms">
                                建筑学主干课程，包括建筑设计（Studio）/建筑理论课程/建筑竞赛辅导/建筑国内外就业辅导等
                            </div>
                        </div>
                    </div>
                    <div class="ind9_two">导师简介</div>
                    <div class="ind9_con">
                        新南威尔士大学建筑学硕士，
                        学习期间成绩优异，专业能力强，在建筑领域教学经验丰富，
                        能挖掘学生的学习潜能，增强学生的理解能力，坚持“因材施教，授人以渔”
                    </div>
                </ul>
                <ul>
                    <div class="ind9_one">
                        <h3>Celina Zhang</h3>
                        <div class="zhu">
                            <p>主讲：</p>
                            <div class="zhu_ms">金融/会计/经济学等</div>
                        </div>
                    </div>
                    <div class="ind9_two">导师简介</div>
                    <div class="ind9_con">
                        新南威尔士大学金融分析硕士， 澳洲CPA高级阶段三门课程全部通过，
                        能辅导专业课、作业、考试和论文，
                        讲课细致入微，注重留学生的课上反馈
                    </div>
                </ul>
                <ul>
                    <div class="ind9_one">
                        <h3>Ailing Mao</h3>
                        <div class="zhu">
                            <p>主讲：</p>
                            <div class="zhu_ms">教育学/社会学相关领域</div>
                        </div>
                    </div>
                    <div class="ind9_two">导师简介</div>
                    <div class="ind9_con">
                        伦敦大学学院童年社会学与儿童权利学硕士，
                        留学期间论文被教授选为高分案例， 教学经验丰富，辅导学生过百，
                        短时间内帮学生提升成绩至一等
                    </div>
                </ul>
                <ul>
                    <div class="ind9_one">
                        <h3>Sofia</h3>
                        <div class="zhu">
                            <p>主讲：</p>
                            <div class="zhu_ms">
                                无机化学/有机化学/物理化学/分析化学/生物化学等
                            </div>
                        </div>
                    </div>
                    <div class="ind9_two">导师简介</div>
                    <div class="ind9_con">
                        新加坡国立大学化学硕士， 擅长英文学术写作/课程/作业辅导等，
                        560+小时的辅导经验，教学能力出众能满足学生需求，
                        备课认真，确保学生能完全理解辅导内容
                    </div>
                </ul>
            </div>
            <div class="ind9_nav ind9_nav1">
                <a class="cur">
                    <div class="ind9_img">
                        <img
                            src="/fudao/images/9_15.png"
                            alt="Alex"
                            title="Alex"
                            width="118px"
                            height="130px"
                        />
                    </div>
                    <p>Niki</p>
                </a>
                <a>
                    <div class="ind9_img">
                        <img
                            src="/fudao/images/9_17.png"
                            alt="Sheng Du"
                            title="Sheng Du"
                            width="118px"
                            height="130px"
                        />
                    </div>
                    <p>Sheng Du</p>
                </a>
                <a>
                    <div class="ind9_img">
                        <img
                            src="/fudao/images/9_19.png"
                            alt="Zhen Song"
                            title="Zhen Song"
                            width="118px"
                            height="130px"
                        />
                    </div>
                    <p>Zhen Song</p>
                </a>
                <a>
                    <div class="ind9_img">
                        <img
                            src="/fudao/images/9_21.png"
                            alt="Celina Zhang"
                            title="Celina Zhang"
                            width="118px"
                            height="130px"
                        />
                    </div>
                    <p>Celina Zhang</p>
                </a>
                <a>
                    <div class="ind9_img">
                        <img
                            src="/fudao/images/9_23.png"
                            alt="Ailing Mao"
                            title="Ailing Mao"
                            width="118px"
                            height="130px"
                        />
                    </div>
                    <p>Ailing Mao</p>
                </a>
                <a>
                    <div class="ind9_img">
                        <img
                            src="/fudao/images/9_25.png"
                            alt="Sofia"
                            title="Sofia"
                            width="118px"
                            height="130px"
                        />
                    </div>
                    <p>Sofia</p>
                </a>
            </div>
        </div>
        <div class="ind9_m">
            <div class="swiper-container cc">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ind9m_img">
                            <img
                                src="/fudao/images/alex.jpg"
                                alt="Alex"
                                title="Alex"
                                width="400px"
                                height="260px"
                            />
                        </div>
                        <div class="ind9m_con">
                            <div class="ind9m_tit">
                                <h3>Niki</h3>
                                <h4>主讲：宏观/微观经济学/金融/数学/统计学等</h4>
                            </div>
                            <div class="ind9m_two">导师简介</div>
                            <div class="ind9m_nr">
                                帝国理工学院金融硕士，5年教学经验，成绩优异，在校期间曾获得多个奖学金。曾就职于国外知名的金融机构，理论知识和实践知识丰富，可以帮助留学生了解国外金融体系。
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ind9m_img">
                            <img
                                src="/fudao/images/cheng.jpg"
                                alt="Cheng"
                                title="Cheng"
                                width="400px"
                                height="260px"
                            />
                        </div>
                        <div class="ind9m_con">
                            <div class="ind9m_tit">
                                <h3>Sheng Du</h3>
                                <h4>主讲：编程、数据结构、算法、电脑网络等</h4>
                            </div>
                            <div class="ind9m_two">导师简介</div>
                            <div class="ind9m_nr">
                                新南威尔士大学IT硕士，本科时期获得荣誉学士学位，硕士时期以Distinction成绩毕业。创建了一套独有的计算机语言的授课方式，能够帮助留学生快速理解计算机语言，擅长Java、Python、Matlab等
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ind9m_img">
                            <img
                                src="/fudao/images/zhen.jpg"
                                alt="Zhen Song"
                                title="Zhen Song"
                                width="400px"
                                height="260px"
                            />
                        </div>
                        <div class="ind9m_con">
                            <div class="ind9m_tit">
                                <h3>Zhen Song</h3>
                                <h4>
                                    主讲：建筑学主干课程，包括建筑设计（Studio）/建筑理论课程/建筑竞赛辅导/建筑国内外就业辅导等
                                </h4>
                            </div>
                            <div class="ind9m_two">导师简介</div>
                            <div class="ind9m_nr">
                                新南威尔士大学建筑学硕士，
                                学习期间成绩优异，专业能力强，在建筑领域教学经验丰富，
                                能挖掘学生的学习潜能，增强学生的理解能力，坚持“因材施教，授人以渔”
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ind9m_img">
                            <img
                                src="/fudao/images/celina.jpg"
                                alt="Celina Zhang"
                                title="Celina Zhang"
                                width="400px"
                                height="260px"
                            />
                        </div>
                        <div class="ind9m_con">
                            <div class="ind9m_tit">
                                <h3>Celina Zhang</h3>
                                <h4>主讲：金融/会计/经济学等</h4>
                            </div>
                            <div class="ind9m_two">导师简介</div>
                            <div class="ind9m_nr">
                                新南威尔士大学金融分析硕士，
                                澳洲CPA高级阶段三门课程全部通过，
                                能辅导专业课、作业、考试和论文，
                                讲课细致入微，注重留学生的课上反馈
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ind9m_img">
                            <img
                                src="/fudao/images/mao.jpg"
                                alt="Ailing Mao"
                                title="Ailing Mao"
                                width="400px"
                                height="260px"
                            />
                        </div>
                        <div class="ind9m_con">
                            <div class="ind9m_tit">
                                <h3>Ailing Mao</h3>
                                <h4>主讲：教育学/社会学相关领域</h4>
                            </div>
                            <div class="ind9m_two">导师简介</div>
                            <div class="ind9m_nr">
                                伦敦大学学院童年社会学与儿童权利学硕士，
                                留学期间论文被教授选为高分案例，
                                教学经验丰富，辅导学生过百， 短时间内帮学生提升成绩至一等
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ind9m_img">
                            <img
                                src="/fudao/images/sofia.jpg"
                                alt="Sofia"
                                title="Sofia"
                                width="400px"
                                height="260px"
                            />
                        </div>
                        <div class="ind9m_con">
                            <div class="ind9m_tit">
                                <h3>Sofia</h3>
                                <h4>
                                    主讲：无机化学/有机化学/物理化学/分析化学/生物化学等
                                </h4>
                            </div>
                            <div class="ind9m_two">导师简介</div>
                            <div class="ind9m_nr">
                                新加坡国立大学化学硕士， 擅长英文学术写作/课程/作业辅导等，
                                560+小时的辅导经验，教学能力出众能满足学生需求，
                                备课认真，确保学生能完全理解辅导内容
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-bullet3"></div>
            </div>
        </div>
    </div>
</div>
  -->


  <div class="container service-team  pt-5">
    <div class="row d-flex flex-column">
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar" src="/assets/images/avatar-1.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-1"></div>
                <div class="service-member-title">
                    <span>加州大学戴维斯分校（UC Davis）</span>&nbsp;&nbsp;|
                    <span>本科及研究生毕业 &nbsp;&nbsp;&nbsp; 环境科学与管理</span>
                </div>
                <div class="service-member-intro">曾在加拿大的教育行业耕耘，目前在红领巾留学申诉已工作5年，每年帮助1000+学生解决留学路上的各种疑难杂症问题</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar" src="/assets/images/avatar-2.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-2"></div>
                <div class="service-member-title">
                    <span>加州大学圣地亚哥分校（UCSD）</span>&nbsp;&nbsp;|
                    <span>本科及研究生毕业&nbsp;&nbsp;&nbsp; 数学系高材生</span>
                </div>
                <div class="service-member-intro">
                    曾在美国知名企业做过数据分析的工作，LUCIAN老师逻辑清晰，接手过数千名海外留学生的咨询，并且熟知美国90%院校的申诉政策及申诉流程，在咨询过程中，LUCIAN老师可直击学生家长需求，同时具有高度责任心且追求细节，获得学生与家长的一致认
                    可及好评</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar" src="/assets/images/avatar-3.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-3"></div>
                <div class="service-member-title vice-color">
                    <span>澳洲莫那什大学本科</span>&nbsp;&nbsp;|
                    <span>悉尼大学研究生毕业 &nbsp;&nbsp;&nbsp; 心理学</span>
                </div>
                <div class="service-member-intro">
                    RS老师可谓是澳洲留学生的“护心丸”，常拯救在澳留学生于水火之中。RS老师为每个海外留学生规划并制定最合适的申诉方案，从前期咨询的定位直到申诉结果出来，一路为学生们的留学之路保驾护航</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar" src="/assets/images/avatar-4.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-4"></div>
                <div class="service-member-title  vice-color">
                    <span>英国利兹大学</span>&nbsp;&nbsp;|
                    <span> 本科毕业 &nbsp;&nbsp;&nbsp; 教育学</span>
                </div>
                <div class="service-member-intro">从事高等教育领域10余年，善于把握每个学生申诉脉络，帮助复盘，为海外留学生提
                    供个性化需求方案，被留学生群体评为最懂学生的老师，及时解救学业问题的“家长”</div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-start align-items-center">
            <img class="service-member-avatar" src="/assets/images/avatar-5.png" alt="">
            <div class="service-member-intro-box">
                <div class="service-member-name sort-5"></div>
                <div class="service-member-title">
                    <span>加拿大西蒙菲莎大学 </span>&nbsp;&nbsp;|
                    <span>&nbsp;&nbsp;&nbsp; 格拉斯哥大学研究生毕业 经济学</span>
                </div>
                <div class="service-member-intro">
                    对英国、加拿大学校政策趋势动向了如指掌，擅长辅导留学问题，能够精准地制定个性申诉方案，收获了英澳加等各大院校学生申诉成功结果信和学生家长们的感谢信</div>
            </div>
        </div>


        <!-- <div class="col mb-4 d-flex  align-items-center justify-content-end ">
            <button class="text-center rsa-btn rsa-btn-link">了解更多</button>
        </div> -->


    </div>
</div>